{% extends "base.html" %}

{% block title %} Mind Frame - Login {% endblock %}

{% block body %}
<div class="container">
  
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4-offset col-md-4">
      <section class="login-form">

        {% if form.errors %}
          <p class="error"> Sorry, that's not a valid username or password </p>
        {% endif %}

		  
        <!--  <input type="username" name="username" placeholder="Username" required class="form-control input-lg" />
          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
          <div class="pwstrength_viewport_progress"></div>
          -->
     <form method="post" action="/auth/" role="login">{% csrf_token %}
      <div class="form-group">
          <label for="username"> Username </label>
          <input type="text" class="form-control" name="username" value="" id="username">
      </div>
      <div class="form-group">
          <label for="password"> Password </label>
          <input type="password" class="form-control" name="password" value="" id="password">
      </div>
          <!--<input type="submit" value="login"/>-->
        <button type="submit" value="login" name="go" class="btn btn-block">Sign In</button>
        
          <div class="forgot-pass">
            <a href="/createUser">Create an Account</a> or <a href="#">Reset Password</a>
          </div>
          
        </form>
        
      </section>  
      </div>
      
      <div class="col-md-4"></div>
      

  </div>   
  
</div>
{% endblock %}